---
# Enaga project clang-format configuration.
# Style: Google C++ Style Guide with C++23 standard override.
# https://google.github.io/styleguide/cppguide.html

Language:     Cpp
Standard:     Latest

BasedOnStyle: Google
